body{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    background-color: #F3F5FC;
    
}

.logo{
    border: 2px solid black;
    flex: 1;
    height: 640px;
    
    
}
.logo img{
    
width: 120px;
height: 48px;
left: 40px;
top: 40px;
   


}

.encrip{
    flex: 3;
    border: 2px solid black;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
 
}

.ingresetexto{
    
    width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
}


.res{
    flex: 2;
    border: 2px solid black;
    border-radius: 80px;
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;




}
.textoaviso{
    text-align: center;
}
.muneco{
align-self: center;
}



