
<h1>Formulario de productos</h1>

<form action="/src/public/uploads/" enctype="multipart/form-data" method="POST">
  <label for="nombre">{{testUser.name}}:</label>
  <input type="file" name="Archivo" id="nombre" />
  <input  type="submit" value="subir archivo" />
<p id="aa">dsdsadasdasdasd</p>
  <button onclick="alert('esta')">apre</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>