 
  <h1>Chat</h1>
  <div class="chat-container">
    <input id="chatBox" class="chat-input" placeholder="Escribe tu mensaje...">
    <div class="message-log" id="messageLogs"></div>
  </div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>