.container {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .admin-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .admin-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .admin-button:hover {
    background-color: #0056b3;
  }
  