/* PaymentForm.css */
.paymentForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 14px;
  }
  
  .formTitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .productDetails {
    margin: 20px 0;
  }
  
  .productItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .productImage {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .productInfo {
    flex: 1;
  }
  
  .productName {
    font-size: 16px;
  }
  
  .productPrice {
    font-size: 14px;
  }
  
  .separator {
    border: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .totalAmount {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  
  .totalPrice {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .cardElement {
    margin: 20px 0;
  }
  
  buttonPanel {
    text-align: center;
  }
  
  .genericButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .genericButton:hover {
    background-color: #0056b3;
  }
  