
.cart-container {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .cart-product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  

  .cart-product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .cart-product-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin: 10px 0;
  }
  

  .cart-product-price {
    font-size: 16px;
    color: #007BFF;
    margin: 10px 0;
  }
  

  .cart-product-quantity {
    font-size: 14px;
    color: #6C757D;
  }
  
  .delete-button {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
  }
  

  .home-button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
  }
  

  #finalizarCompraBtn {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
  }


  .cart-total {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }

  .empty-cart-message {
    font-size: 18px;
    color: #6C757D;
    margin: 20px 0;
  }

  .role-info-label {
    font-weight: bold;
    font-size: 18px;
    color: #28a745; 
    margin-right: 10px;
  }
  